<div class=container>
	<div class=row>
		<div class=col-xs-12 style=height:153px;></div>
		<div class="col-md-12 text-center">
			<h1> Assistive Technology Search</h1>
			<br>
			<form novalidate role="form" ng-submit="submitSearch()">
				<div class=form-group>
					<div class=col-md-11>
						<input type=text ng-model="search" class="form-control input-lg"/>
						<br/>
						<br/>
					</div>

					<div class=col-md-1>
						<button class="btn btn-lg btn-default" ui-sref="search({search:search})" type="button" ng-click="submitSearch()"> Search </button>
					</div>
				</div>

				<div class=col-sm-4 style="margin: 0 auto;float:none">
					<a ui-sref="solution({solutionID:5})" class="btn btn-lg btn-default"> Solution of The Day </a>
					<a ui-sref="add" class="btn btn-lg btn-default"> Add Solution </a>
				</div>
			</form>
		</div>
	</div>
</div>