<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Search our database
                    <br/>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form novalidate role="form" ng-submit="submitSearch()">
                    <div class="form-group col-md-8 col-md-offset-2" id="custom-search-input">
                        <div class="input-group" id="searchForm">
                        <input type="text" class="form-control input-md" ng-model="searchBar"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-md" type="button" ui-sref="search({search:search})" ng-click="submitsearch()">
                                    <i class="glyphicon glyphicon-search">
                                    </i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 id="changeThisToo">
                    {{num}} results found for "{{searchString}}":
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <ul class="media-list text-left">
            <li class="media panel panel-default" ng-repeat="result in results">
                <a class="pull-left" href="">
                    <img height="64" width="64" class="media-object" ng-src="../uploaded/files/{{result.solutionid}}/0" err-src="../res/img/err.png" />
                </a>
                <div class="media-body">
                    <a class="media-heading panel panel-title" ui-sref="solution({solutionID:result.solutionid})" href="#/solution/{result.solutionid}">
                        {{result.SolutionName}}
                    </a>
                    <p>
                        {{result.Description}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 
<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>
                    Seven Hills Foundation
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br/>
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br/>
                    Ut enim ad minim veniam, quis nostrud
                </p>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br/>
                    <br/>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-instagram text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-twitter text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-facebook text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-github text-inverse">
                            </i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-facebook text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-github text-inverse">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
 -->