<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Search our database
                    <br/>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form action="/index" method="get" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="search" ng-model="searchBar" type="text"/>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    Go
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-2x fa-caret-down">
                            Filter
                        </span>
                        <br/>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                Action
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <a class="btn btn-primary">
                    Mobility
                </a>
                <a class="btn btn-primary">
                    High-tech
                </a>
                <a class="btn btn-primary">
                    Low-tech
                    <br/>
                </a>
                <a class="btn btn-primary">
                    Sensitiy-touch
                </a>
                <a class="btn btn-primary">
                    Firm-touch
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 id="changeThisToo">
                    {{num}} results found for "{{searchString}}":
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <ul class="media-list text-left">
            <li class="media panel panel-default" ng-repeat="result in results">
                <a class="pull-left" href="">
                    <img height="64" width="64" class="media-object" src=""/>
                </a>
                <div class="media-body">
                    <a class="media-heading panel panel-title" ui-sref="solution({solutionID:result.solutionid})" href="#/solution/{result.solutionid}">
                        {{result.SolutionName}}
                    </a>
                    <p>
                        {{result.Description}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 
<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>
                    Seven Hills Foundation
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br/>
                    sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br/>
                    Ut enim ad minim veniam, quis nostrud
                </p>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br/>
                    <br/>
                </p>
                <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-instagram text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-twitter text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-facebook text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-github text-inverse">
                            </i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-facebook text-inverse">
                            </i>
                        </a>
                        <a href="#">
                            <i class="fa fa-3x fa-fw fa-github text-inverse">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
 -->