<script src="res/js/add.js">
</script>
<div class="container">
    <div class="page-header">
        <h1>
            {{ solution.SolutionName }}
        </h1>
    </div>
    <div class="well well-lg">
        <div class="col-sm-2">
            <b>
                Time to Build:
            </b>
        </div>
        <div class="col-sm-2">
            {{ solution.Time }} minutes
        </div>
        <div class="col-sm-2">
            <b>
                Difficulty to Build:
            </b>
        </div>
        <div class="col-sm-2">
            <input class="rating" data-readonly="" id="star" type="hidden"/>
        </div>
        <div class="col-sm-2">
            <b>
                Cost:
            </b>
        </div>
        <div class="col-sm-2">
            {{ solution.EstimatedTotalCost }} USD
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <carousel interval="3000">
                <slide active="slide.active" ng-repeat="slide in images">
                    <img ng-src="{{ slide }}"/>
                </slide>
            </carousel>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Materials
            </h2>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>
                    </th>
                    <th>
                        #
                    </th>
                    <th>
                        Material
                    </th>
                    <th>
                        Vendor
                    </th>
                    <th>
                        Quantity
                    </th>
                </thead>
                <tbody>
                    <tr class="row" ng-repeat="x in matTable">
                        <td class="col">
                            {{ $index + 1 }}
                        </td>
                        <td class="col">
                            {{ x.materialname }}
                        </td>
                        <td class="col">
                            {{ x.vendor }}
                        </td>
                        <td class="col">
                            {{ x.amount }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr/>
        <h2 class="instruction">
            Instructions
        </h2>
            <div style="white-space: pre;" ng-bind-html="solution.Instruction | linky"><div>
    </div>
</div>
<div class="container">
    <div ng-repeat="comment in comments">
        <div class="row">
            <div class="col-md-1 col-md-offset-3">
                <label for="">
                    Name
                </label>
            </div>
            <div class="col-md-5">
                {{ comment.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-3">
                <label for="">
                    Comment
                </label>
            </div>
            <div class="col-md-5">
                {{ comment.commenttext }}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form novalidate role="form" name="addCmtForm" ng-submit="submitComment()">
            <div class="form-group">
                <div class="col-md-1 col-md-offset-3">
                    <label for="nameCom">
                        Name
                    </label>
                </div>
                <div class="col-md-5">
                    <input type="text" ng-model="cmtName" class="form-control input-lg input-block-level"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1 col-md-offset-3">
                    <label for="">
                        Comment
                    </label>
                </div>
                <div class="col-md-5">
                    <textarea class="form-control" ng-maxlength="2048" ng-model="cmtData" required="" rows="3" type="text">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-3 pull-right">
                    <button class="btn btn-success" ng-disabled="addCmtForm.$invalid" type="submit">
                        Submit comment
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
